{
  "extends": "",
  "rules": {
    "eol-last": 1,
    "no-multiple-empty-lines": 1,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-param-reassign": 0,
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": false
      }
    ],
    "import/prefer-default-export": 0,
    "no-shadow": 0,
    "consistent-return": 0,
    "func-names": 0,
    "object-curly-spacing": 0,
    "no-console": 0,
    "no-mixed-operators": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      }
    ],
    "security/detect-object-injection": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
